# Ambiente virtual
.venv/
venv/
env/
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Credenciais
.env
.env.*

# Logs
*.log

# Airflow
airflow/logs/
airflow/tmp/
airflow/airflow.cfg
airflow/unittests.cfg

# dbt compilados
dbt/target/
dbt/logs/

# Sistema
.DS_Store

# Arquivos Csv gerados
data/*.csv
data/*.json

